@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.categoriesSection{
    font-family: "Poppins", sans-serif;

}

.commingSoonText{
    font-family: "Sofia Sans", sans-serif !important;
}
.product{
    background-color: #F6F6F6;
    padding: 16px;
    max-height: 100%;
   
   max-width: 384px;
}

.productImage:hover{
    transform: scale(1.3);
    z-index: 2;
    mix-blend-mode: multiply;
}
.product img{
    height: 260px;
    width: 200px;
    mix-blend-mode: multiply;
   
}
