.back-to-login{
    font-size: 16px;
}

.f-family-Poppins{
    font-family: Poppins;

}
.Forget-Password-Section {
    margin-top: 100px !important;
}
.forget-password-form .row>*{
    padding-left:0 !important;
    padding-right:0 !important;
}