.cartTable{
    border : 1px solid #6C7275;
    border-radius: 10px;
    padding: 24px;
}
.delivered{
    background: rgba(60, 209, 57, 0.10);
    border-radius: 5px;
    color: #3CD139;
    padding: 6px 10px;
}
.pending{
    background: rgba(227, 178, 49, 0.10);
    border-radius: 5px;
    color: #E3B231;
    padding: 6px 10px;
}
.cancelOrder{
    background: #FF7262;
    border-radius: 5px;
    color: #FFFF;
    padding: 6px 10px;
}